---
---

@import "reset";
@import "default";
@import "global";

.home {
  &__logo {
    margin-top: 5rem;
    margin-bottom: 3rem;
    width: 60%;
    height: auto;

    @media (max-width: 850px) {
      width: 80%;
    }
  }

  &__content {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 5rem;
    font-size: larger;
    line-height: 150%;

    @media (max-width: 850px) {
      font-size: medium;
    }
  }

  &__nav {
    margin-top: 3rem;

    .link-row {
      display: flex;
      justify-content: space-between;

      @media (max-width: 850px) {
        flex-direction: column;
        align-items: center;
      }
    }

    .link-wrapper {
      flex-grow: 1;
      flex-basis: 0;
      margin: 2rem 0;

      &:not(:last-child) {
        margin-right: 2rem;
      }

      @media (max-width: 850px) {
        width: 80%;

        margin: 1rem auto;

        &:not(:last-child) {
          margin-right: auto;
        }
      }
    }

    a {
      display: block;
      background-color: #000;
      border-radius: 0.2rem;
      box-shadow: 0.2rem 0.2rem 0.1rem hsl(0, 0%, 5%);
      transition: box-shadow 0.1s;
      text-decoration: none;
      color: inherit;

      &:hover {
        border-color: hsl(0, 0%, 50%);
        box-shadow: 0 0 0.1rem 0.1rem hsl(0, 0%, 50%);
      }

      img {
        width: 100%;
        height: auto;
        border-radius: 0.2rem;
      }

      .name {
        padding: 1rem 0;
        text-align: center;
        font-size: larger;
        font-weight: bold;
        font-family: "Poiret One", sans-serif;
      }
    }
  }
}

.feature {
  margin: 3rem 0;

  display: flex;
  align-items: flex-start;

  @media (max-width: 850px) {
    display: block;
    max-width: 80%;

    margin: 1rem auto;
  }

  & main {
    flex-grow: 7;
    flex-basis: 0;

    & header {
      text-align: center;
      font-size: larger;
      font-weight: bold;

      @media (max-width: 850px) {
        font-size: small;
      }
    }

    & footer {
      text-align: center;

      @media (max-width: 850px) {
        font-size: xx-small;
      }
    }

    & img {
      width: 100%;
      height: auto;
      margin: 0.5rem 0;
    }
  }

  & aside {
    flex-grow: 5;
    flex-basis: 0;
    margin-top: 29px;
    margin-bottom: 2rem;
    margin-left: 3rem;

    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }

    @media (max-width: 850px) {
      flex-basis: auto;
      margin-left: 0;
    }
  }
}

#overlay-text-current {
  color: #bbb;
  padding: 5px;
  font-size: 13px;
}

.responsive-iframe {
  box-shadow: 0.2rem 0.2rem 0.1rem hsl(0, 0%, 5%);
  background-color: #000;

  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  width: 100%;
  height: 0;

  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
