---
---

@import "reset";
@import "default";

.selection {
  &__back-link {
    align-self: flex-start;
    margin-top: 1rem;

    text-decoration: none;
    font-family: "Raleway", sans-serif;

    display: flex;
    align-items: center;

    svg {
      fill: currentColor;
      margin-right: 0.7rem;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__content {
    flex: 1;
    max-width: 60%;
    text-align: center;
    margin: 3rem 0;
    font-size: large;
    line-height: 150%;
  }

  &__views {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;

    a {
      width: 100%;
      max-width: 300px;
      margin: 2rem;
      background-color: #000;
      border-style: 1px solid hsl(0, 0%, 30%);
      border-width: 0 1px 1px 1px;
      border-radius: 0.2rem;
      box-shadow: 0.2rem 0.2rem 0.1rem hsl(0, 0%, 5%);
      transition: box-shadow 0.1s;
      text-decoration: none;
      color: inherit;

      &:hover {
        border-color: hsl(0, 0%, 50%);
        box-shadow: 0 0 0.1rem 0.1rem hsl(0, 0%, 50%);
      }

      img {
        width: 100%;
        height: auto;
        border-radius: 0.2rem 0.2rem 0 0;
      }

      .name {
        padding: 1rem 0;
        text-align: center;
        font-size: larger;
        font-weight: bold;
        font-family: "Poiret One", sans-serif;
      }
    }
  }
}
