<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<meta name="keywords" content="topsleuchten, czaplinski, tops, leuchten, lampen, peter" />
	<meta name="author" content="Czaplinski, David" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway|Poiret+One">
	<link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/css/includes.css">
	<link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/css/contact.css">
	<title>TopsLeuchten - {{ page.title }}</title>
</head>
<body>
	<main class="contact">
    {% include flag_link.html locale=page.locale path=page.filename %}

    {% capture logo_href %}{{ site.baseurl }}/{{ page.locale }}/{% endcapture %}
		{% include logo.html locale=page.locale title=page.title href=logo_href %}

		<section class="contact__content">
			{{ content }}
    </section>

    <section class="contact__comments">
      <div id="disqus_thread"></div>
      <script>
        var disqus_config = function () {
          this.page.url = '';  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = 'TopsLeuchten'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };

        (function () { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = '//topsleuchten.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the
        <a href="{{ site.baseurl }}https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
      </noscript>
    </section>
    
		{% include footer.html locale=page.locale %}
	</main>
</body>
</html>
