<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<meta name="google-site-verification" content="_R-dbAQExdJvfjmhsKCcatA8FIiX7xfh2-rhZ3i5ebk" />
	<meta name="keywords" content="topsleuchten, czaplinski, tops, leuchten, lampen, peter" />
	<meta name="author" content="Czaplinski, David" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway|Poiret+One">
	<link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/css/includes.css">
	<link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/css/home.css">
	<title>TopsLeuchten</title>
</head>
<body>
	<main class="home">
		{% include flag_link.html locale=page.locale path="" %}
		<!-- {% include logo.html locale=page.locale %} -->

		<img class="home__logo" src="{{ site.baseurl }}/img/logo_neu.png" />

		<!-- <h1>The beauty of light in life</h1> -->
		<section class="home__video">
			<div class="responsive-iframe">
				<iframe width="560" height="315" src="//www.youtube.com/embed/oKIU7pJjzPw?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
			</div>
		</section>
		<section class="home__content">
			{{ content }}
		</section>
		<nav class="home__nav">
			<div class="link-row">
				<div class="link-wrapper">
					<a href="{{ site.baseurl }}/{{ page.locale }}/selection_ground.html">
						<img src='{{ site.baseurl }}/img/link_on_ground.png' alt="Topsleuchten on Ground"/>
					</a>
				</div>
				<div class="link-wrapper">
					<a href="{{ site.baseurl }}/{{ page.locale }}/selection_wall.html">
						<img src='{{ site.baseurl }}/img/link_on_wall.png' alt="Topsleuchten on Wall"/>
					</a>
				</div>
			</div>
			<div class="link-row">
				<div class="link-wrapper">
					<a href="{{ site.baseurl }}/{{ page.locale }}/selection_air.html">
						<img src='{{ site.baseurl }}/img/link_in_air.png' alt="Topsleuchten in Air"/>
					</a>
				</div>
				<div class="link-wrapper">
					<a href="{{ site.baseurl }}/leuchten/{{ page.locale }}/current.html">
						<img src='{{ site.baseurl }}/img/link_current.png' alt="Current Project"/>
					</a>
				</div>
			</div>
			<div class="link-wrapper">
				<a href="{{ site.baseurl }}/{{ page.locale }}/contact.html">
					<img src='{{ site.baseurl }}/img/link_contact_{{ page.locale }}.png' alt="Contact"/>
				</a>
			</div>
			<div class="link-wrapper">
				<a href="{{ site.baseurl }}/{{ page.locale }}/press.html">
					<img src='{{ site.baseurl }}/img/link_press.png' alt="Press"/>
				</a>
			</div>
		</nav>
		{% include footer.html locale=page.locale %}
	</main>
</body>
</html>
