<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta
      name="keywords"
      content="topsleuchten, czaplinski, tops, leuchten, lampen, peter"
    />
    <meta name="author" content="Czaplinski, David" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway|Poiret+One"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{{ site.baseurl }}/css/includes.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{{ site.baseurl }}/css/press.css"
    />
    <title>TopsLeuchten - {{ page.title }}</title>
  </head>
  <body>
    <main class="press">
      {% include flag_link.html locale=page.locale path=page.filename %} {%
      capture logo_href %}{{ site.baseurl }}/{{ page.locale }}/{% endcapture %}
      {% include logo.html locale=page.locale title=page.title href=logo_href %}

      <div class="press__exhibitions">
        <h1>Geplante Termine</h1>
        <h2>Hospiz Am Blumenplatz Krefeld</h2>
        <p class="subtitle">17. Januar 2020</p>
        <img
          src="{{ site.baseurl }}/img/presse/am_buchenplatz.jpg"
        />

        <h2>Ev. Pflegeheim Altes Rathaus / Duisburg-Rumeln</h2>
        <p class="subtitle">März 2020</p>
        <img src="{{ site.baseurl }}/img/presse/Rumeln_außen.jpg"/>

        <h1>Vergangene Ausstellungen</h1>

        <h2>Kunigundenheim 2018</h2>
        <img
          src="{{ site.baseurl }}/img/presse/Flyer Kunigundenheim 2018 - Webseite Topsleuchten.jpg"
        />

        <h2>Steinhof Duisburg 2017</h2>
        <img src="{{ site.baseurl }}/img/presse/sh17_flyer.jpg" />
        <a target="_blank" href="{{ site.baseurl }}/files/sh17_flyer.pdf"
          >Link zum Flyer als PDF</a
        >

        <h2>Berlin Leuchtet 2017</h2>
        <img src="{{ site.baseurl }}/img/presse/bl17_website.jpg" />

        <h2>Steinhof Duisburg 2016</h2>
        <section class="press__content">
          {{ content }}
        </section>
        <img src="{{ site.baseurl }}/img/presse/sh16_photo.jpg" />
        <a href="https://www.steinhof-duisburg.de/"
          >Link zum Steinhof Duisburg</a
        >
        <img src="{{ site.baseurl }}/img/presse/sh16_article.jpg" />
        <a
          href="http://www.waz.de/staedte/duisburg/sued/eintauchen-in-die-schoene-bunte-lichterwelt-id208898699.html"
          >Link zum Artikel der WAZ</a
        >
      </div>

      {% include footer.html locale=page.locale %}
    </main>
  </body>
</html>
