<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<meta name="keywords" content="topsleuchten, czaplinski, tops, leuchten, lampen, peter" />
	<meta name="author" content="Czaplinski, David" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway|Poiret+One">
	<link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/css/includes.css">
	<link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/css/selection.css">
	<title>TopsLeuchten - {{ page.title }}</title>
</head>
<body>
	<main class="selection">
    {% include flag_link.html locale=page.locale path=page.filename %}

    {% capture logo_href %}{{ site.baseurl }}/{{ page.locale }}/{% endcapture %}
		{% include logo.html locale=page.locale title=page.title href=logo_href %}

		<!-- <section class="selection__content">
			{{ content }}
    </section> -->

    <section class="selection__views">
      {% for leuchte in site.leuchten %}
      {% if leuchte.category == page.category and leuchte.locale == page.locale %}
        <a href='{{ site.baseurl }}/leuchten/{{ page.locale }}/{{ leuchte.title | downcase }}.html'>
          <img src='{{ site.baseurl }}/img/{{ leuchte.img_folder }}/main.jpg' />
          <div class='name'>{{ leuchte.name }}</div>
        </a>
      {% endif %}
      {% endfor %}
    </section>
    
		{% include footer.html locale=page.locale %}
	</main>
</body>
</html>
